# ignore condeps symlinks
/blueeyes
/client-libraries

.ensime
.idea
tags
lib_managed
analytics/lib
benchmark/lib
src_managed
target
*.iml
project/boot
project-0.7.x/boot
*.swp
build.xml
nbproject
*.log
tmp
**/.ensime
*sublime-project
.project
.settings
.cache
.target
.classpath
*~
